

.browser {
  background: white;
  position: relative;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);

  max-width: 900px;
  transition: all 400ms ease-in-out;

  overflow: hidden;
}

.browser.mod-width-mobile {
  max-width: 375px;
}

.browser-window {
  border: 0;
  width: 100%;
  height: 400px;
  border-radius: 0 0 10px 10px;
  border: 1px solid #ccc;
  border: 1px solid #4d8bf5;
  border-top: none;
  position: relative;
  overflow: hidden;
}

.browser-window iframe {
  border: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  border-radius: 0 0 10px 10px;
}


.browser-code {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 6;
  font-size: 15px;
  border-radius: 0 0 0px 0px;
  padding: 0;
}
.browser-code > span.hljs {
  display: block;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.browser-code pre {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
  overflow: initial;
}


.browser-top {
  background: #ccc;
  background: #4d8bf5;

  width: 100%;
  border-radius: 10px 10px 0 0;
  display: block;
  padding: 4px 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;


  position: relative;
  z-index: 12;
  box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
}

.browser-omnibox {
  position: relative;
  background: white;
  /*
  border: 1px solid #aaa;
  border: 1px solid #2f9467;
  */
  border-radius: 2px;
  line-height: 1.2;
  font-size: 12px;
  padding: 4px 5px;
  width: 100%;
  font-weight: 400;
  color: rgba(0,0,0,.8);

  margin: 0 7px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}



.browser-omnibox-icon {
  margin: 0 5px;
  display: inline-block;
  background: transparent;
  border: none;
  box-shadow: none;
  outline-color: white;
  cursor: pointer;
}




.browser-omnibox-icon.mod-external {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}

.browser-omnibox-icon.mod-external svg {
  width: 18px;
  height: 18px;
  margin-top: 2px;
}

.browser-omnibox-icon.mod-external svg path
{
  fill: rgba(77, 139, 245, .9);
}






.browser-omnibox-icon svg {
  width: 18px;
  height: 18px;
  margin-top: 6px;
}

.browser-omnibox-icon svg path {
  fill: #fff;
}


.browser-omnibox-icon.mod-back,
.browser-omnibox-icon.mod-forward,
.browser-omnibox-icon.mod-refresh
{
  cursor: default;
}
.browser-omnibox-icon.mod-back svg path,
.browser-omnibox-icon.mod-forward svg path,
.browser-omnibox-icon.mod-refresh svg path
{
  fill: rgba(255,255,255,.3);
  cursor: default;
}








.browser-omnibox-icon.mod-code {
  margin-right: 0px;
}
.browser-omnibox-icon.mod-code svg {
  width: 20px;
  height: 20px;
  margin-top: 4px;
}

@media (max-width: 500px) {
  .browser-omnibox-icon.mod-code {
    display: none;
  }
}


.browser-omnibox-icon.mod-code svg path {
  fill: rgba(255,255,255,.6);
}

.browser-omnibox-icon.mod-code.mod-active svg path {
  fill: rgba(255,255,255,.95);
}

















.browser-omnibox-icon.mod-width-mobile {
  margin-left: 5px;
}

.browser-omnibox-icon.mod-width-mobile svg {
  width: 20px;
  height: 20px;
  margin-top: 4px;
}

@media (max-width: 500px) {
  .browser-omnibox-icon.mod-width-mobile {
    display: none;
  }
}


.browser-omnibox-icon.mod-width-mobile svg path {
  fill: rgba(255,255,255,.6);
}

.browser-omnibox-icon.mod-width-mobile.mod-active svg path {
  fill: rgba(255,255,255,.95);
}
