
/* source: https://jonsuh.com/hamburgers/ */

  .hamburger {
    font: inherit;
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 2px 4px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;

    backface-visibility: hidden;
  }


  .hamburger-box {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 12px;
  }


  .hamburger-inner {
    top: 50%;
    display: block;
    margin-top: -1px;

  }

  .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    position: absolute;
    width: 20px;
    height: 2px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #333;
    background-color: #fff;
    background-color: rgba(255,255,255,.8);
  }

  .hamburger .hamburger-inner, .hamburger .hamburger-inner:after, .hamburger .hamburger-inner:before {
    background-color: #555;
    background-color: #333;
    background-color: #fff;
    background-color: rgba(255,255,255,.8);
  }

  .hamburger.mod-active .hamburger-inner, .hamburger.mod-active .hamburger-inner:after, .hamburger.mod-active .hamburger-inner:before {
    background-color: #222;
    background-color: #333;
    background-color: rgba(255,255,255,.8);
  }


  .hamburger-inner:after, .hamburger-inner:before {
    display: block;
    content: "";
  }

  .hamburger-inner:before {
    top: -5px;
  }

  .hamburger-inner:after {
    bottom: -5px;
  }


  /* start arrow anim */
  /*

  .hamburger.mod-active .hamburger-inner:before {
    transform: translate3d(-4px,0,0) rotate(-45deg) scaleX(.7);
  }

  .hamburger.mod-active .hamburger-inner:after {
    transform: translate3d(-4px,0,0) rotate(45deg) scaleX(.7);
  }
  */

  /* end arrow anim */





  /* start cross anim */

  .hamburger .hamburger-inner {
    transition-timing-function: cubic-bezier(.55,.055,.675,.19);
    transition-duration: 200ms;
  }
  .hamburger .hamburger-inner:before {
    transition: top 200ms ease 200ms, opacity 100ms ease;
  }
  .hamburger .hamburger-inner:after {
    transition: bottom 200ms ease 200ms, transform 200ms cubic-bezier(.55,.055,.675,.19);
  }



  .hamburger.mod-active .hamburger-inner {
    transition-delay: 100ms;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
    transform: rotate(45deg);
  }

  .hamburger.mod-active .hamburger-inner:before {
    top: 0;
    transition: top 200ms ease, opacity 100ms ease 100ms;
    opacity: 0;
  }

  .hamburger.mod-active .hamburger-inner:after {
    bottom: 0;
    transition: bottom 200ms ease, transform 200ms cubic-bezier(.215,.61,.355,1) 100ms;
    transform: rotate(-90deg);
  }

  /* end cross anim */
