






  .nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    backface-visibility: hidden;
    z-index: 10;

    /*pointer-events: none;*/

  }

    @media(max-width: 960px) {
      .nav-wrapper {
        /*pointer-events: auto;*/

        position: static;
      }
    }








    .nav-backdrop-fade-enter-active, .nav-backdrop-fade-leave-active {
      transition: opacity .5s;
    }
    .nav-backdrop-fade-enter, .nav-backdrop-fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
      opacity: 0;
    }

    .nav-backdrop {
      background: rgba(0,0,0,.5);
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 95;
    }
    html.mod-js-parsing .nav-backdrop {
      display: none;
    }
    @media (min-width: 960px) {
      .nav-backdrop {
        display: none;
      }
    }








  .nav-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 1px;
  }

  @media(max-width: 1240px) {
    .nav-inner {
      max-width: 900px;
    }
  }

  @media(max-width: 960px) {
    .nav-inner {
      max-width: none;
      width: auto;
      height: auto;
      display: block;

    }
  }












    .nav-site-place-holder {
      height: 1px;
      width: 100%;
      /*pointer-events: none;*/
    }

    @media(max-width: 1240px) {

    }

    @media(max-width: 960px) {
      .nav-site-place-holder {
        display: none;
      }

    }













  .nav-content {
    /*pointer-events: auto;*/
    height: 100%;
    height: 100vh;
    width: 300px;
    flex: 0 0 300px;
    box-sizing: border-box;
    background: white;
     /*background: #f1f1f1; */ /* chrome scrollbar background color */
    border-right: 1px solid #eee;

    /*box-shadow: 1px 0 3px rgba(0,0,0,0.06), 1px 0 2px rgba(0,0,0,0.12);*/

    padding-top: 50px;

  }
  @media(max-width: 1240px) {
    .nav-content {
    }
  }
  @media(max-width: 960px) {
    .nav-content {

      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      backface-visibility: hidden;
      z-index: 100;

      /*
      border-right: none;
      box-shadow: 1px 0 3px rgba(0,0,0,0.06), 1px 0 2px rgba(0,0,0,0.12);
      */

      transition: transform 400ms cubic-bezier(0.7, 0, 0.07, 1);
      transform: translateX(-100%);
    }
    .nav-content.mod-active {
      transform: translateX(0%);

    }
  }



    .nav-content-inner {
      height: 100%;
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
    }


    @media(max-width: 960px) {

    }

      .nav-content-inner-inner {
        padding: 20px;
      }
        @media(min-width: 960px) {
          .nav-content-inner-inner {
          }
        }



      .nav-content-index {

      }


      .nav-content-index p,
      .nav-content-index h1,
      .nav-content-index h2,
      .nav-content-index h3,
      .nav-content-index h5,
      .nav-content-index h6
      {
        font-size: 15px;
        line-height: 1.2;
        margin: 0;
        padding: 0;
        font-weight: 400;
        color: rgba(0,0,0,.9);
      }





      .nav-content-index p {
        font-size: 13px;
        font-weight: 400;
        color: rgba(0,0,0,.9);
        margin-bottom: 10px;
      }




      .nav-content-index h1 {
        font-size: 17px;
        font-weight: 600;
        color: rgba(0,0,0,1);
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .nav-content-index h2 {
        font-size: 14px;
        font-weight: 500;
        color: rgba(0,0,0,1);
        margin-top: 22px;
        margin-bottom: 16px;
      }

      .nav-content-index h3 {
        font-size: 14px;
        font-weight: 400;
        color: rgba(0,0,0,.8);
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .nav-content-index h4 {
        font-size: 13px;
        font-weight: 400;
        color: rgba(0,0,0,1);
        margin-top: 10px;
        margin-bottom: 10px;
      }




      .nav-content-index  a {
        text-decoration: none;
        color: inherit;
      }

      .nav-content-index ul {
        list-style-type: none;
        list-style-position: inside;
        margin: 0;
        padding: 0;
      }

      .nav-content-index li {
        list-style-type: none;
        list-style-position: inside;
        margin: 0;
        padding: 0;

      }

      .nav-content-index ul > li > ul {
        padding-left: 10px;
      }
